
<ul class="list-inline">
    <li class="list-inline-item"><a href="https://github.com/patrick-russell/sottools/issues">Issue Tracker</a></li>
    <li class="list-inline-item"><a href="https://github.com/patrick-russell/sottools">Source Code</a></li>
    <li class="list-inline-item"><a href="https://www.seaofthieves.com">Sea of Thieves Official</a></li>
    <li class="list-inline-item"><a href="https://reddit.com/r/seaofthieves">SubReddit</a></li>
</ul>

&copy; Copyright 2018 by <a href="https://sottools.com">patrick russell{{' & '}}</a>.
