<div class="blockquote-footer">
<ul class="list-inline">
    <li class="list-inline-item"><a href="https://github.com/patrick-russell/sottools/issues">Issue Tracker</a></li>
    <li class="list-inline-item"><a href="https://github.com/patrick-russell/sottools">Source Code</a></li>
    <li class="list-inline-item"><a href="https://www.seaofthieves.com">Sea of Thieves Official</a></li>
    <li class="list-inline-item"><a href="https://reddit.com/r/seaofthieves">SubReddit</a></li>
</ul>

<small>
    <h6>built with</h6>
    <ul class="list-inline">
        <li class="list-inline-item"><a href="http://flask-cors.readthedocs.io/en/latest/">Flask-CORS</a></li>
        <li class="list-inline-item"><a href="https://flask-s3.readthedocs.io/en/latest/">Flask-S3</a></li>
        <li class="list-inline-item"><a href="https://flask-dynamo.readthedocs.io">Flask-dynamo</a></li>
        <li class="list-inline-item"><a href="https://flask-wtf.readthedocs.io/en/stable/index.html">FLask-wtforms</a></li>
        <li class="list-inline-item"><a href="https://github.com/Miserlou/Zappa">Zappa</a></li>
        <li class="list-inline-item"><a href="https://aws.amazon.com/lambda/">AWS Lambda</a></li>
        <li class="list-inline-item"><a href="https://aws.amazon.com/api-gateway/">AWS API Gateway</a></li>
        <li class="list-inline-item"><a href="https://aws.amazon.com/dynamodb/">AWS DynamoB</a></li>
        <li class="list-inline-item"><a href="https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/DynamoDBLocal.html">DynamoDB local tool</a></li>
    </ul>
</small>
&copy; Copyright 2018 by <a href="https://sottools.com">patrick russell{{' & '}ahemuro}</a>.
</div>