<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html' %}
    <title>{% block title %}{% endblock %} - sottools.com</title>
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MGMW73T"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div id='navigation'>{% block navigation %}{% endblock %}</div>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
            {% include 'footer.html' %}
        {% endblock %}
    </div>
</body>
</html>