{% extends 'layout.html' %}
{% block title %}Sea of Thieves Loot Calc{% endblock %}
{% block content %}
<div class="bg-secondary" id="loot-estimate-body">
    <h5>Loot Estimate</h5>
    {% with messages = get_flashed_messages(category_filter=['important']) %}
        {% if messages %}
        <div class="alert alert-info alert-dismissible" role="alert">
            <ul class=flashes>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    {% endwith %}</p>
    <form id="loot-form" class="form-inline" , method="POST" , action="{{ url_for('loot_calc') }}">
        {{ form.hidden_tag() }}
        <div class="form-row" id="row1">
            {{ form.loot_options.label }}
            <div class="form-group col-auto">
                {{ form.loot_options }}
            </div>
            <div class="form-group col-auto">
                {{ form.loot_count.label }}
            </div>
            <div class="form-group col-auto">
                {{ form.loot_count }}
            </div>
        </div>
        <div class="form-group col-auto">
            <button type="button" class="btn btn-primary btn-sm btn-block" id="addMore">Add More Booty!</button>
        </div>
    </form>
   <button type="submit" form='loot-form' class="btn btn-primary btn-lg btn-block">How much ya got?</button>
</div>
{% endblock content %}